.home{

	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
	width: 100%;
	height: 100vh;
	background-color: #fff124

}

.home_banner{
	background-size: cover;
width: 100%;
background-size: cover;
background:linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
position: relative;
margin-bottom: -380px;
z-index: -1;
}
.home_raw{
	z-index: 1;
	display: flex;
	margin: 3px;
	margin-bottom: 10px;
	top:160px;
	position: absolute;
	left:20px

}
.homeright_content{
	display: flex;
	flex-direction: column;
	padding: 16px;
	height: 150px;
	width: 300px;
	margin-right: 27px;
	margin-left: 10px;
	margin-top: 8px;
	background-color: white;
	text-align: left;


}
.homeright_content  button{
	margin-top: 12px;
	width: 100%;
	padding: 7px;
   border-radius: 5px;
	background-color: rgba(252, 190, 85, 1);
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
}
.homeright_content  button:hover{
	cursor: pointer;
	background-color: rgba(252, 209, 100, 1);
}

.homeright_content img{

	max-height: 330px;
	max-width: 290px;
	margin-top: 50px;
	margin-left: -10px

}
.homeright_content img:hover{
	cursor: pointer;
}

