.back_top{
	background-color:#343838;
	padding: 10px;
	justify-content: center;
	text-align: center;
}
.bottom_footer{
	background-color:#131921;
	padding: 25px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
h3{
	font-weight: bold;
	color: #fff;
	margin-bottom: 5px;

}

.careers{
	color: white;
	font-weight: normal;
	font-size: 16px
}
.infos{
	padding: 5px 0
}
.infos:hover{
		border-bottom: 1px solid;
       width: 103sssssssssssssssssssss3s30%;
	cursor: pointer;

}